*{
    margin: 0;
    padding: 0;
}

 
h1,h2,h3,h4,h5,h6,ul,li,a{

    font-family: 'Open Sans', sans-serif;
    
}
body,p,span,b{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
.clearfix::before{
    content: "";
    display: block;
    clear: both;
}
.left{
    float: left;
    

}
.right{
    float: right;
    
}
a {
	text-decoration: none;
}



.icon .tdn{
    text-decoration: none;
    transition: all .7s ease-in-out;
    margin-left: 7px;
}

.icon .tdn:hover{
  color: #0fe7f9;
}

/* header-top */
.header-top{
  position: inherit;
  z-index: 1;
  width: 100%;
}


.icon .email-icon{
  color: #fff;
  top: 2px;
  padding-right: 2px;
  text-decoration: none  ;
  transition: .6s;
  font-size: 14px;
  

}
.icon .email-icon{
  color: #fff;
  position: relative;
  top: 2px;
  padding-right: 2px;
  text-decoration: none  ;
  transition: .6s;
  font-size: 14px;

}
.icon .email-icon:hover{
 color: #0fe7f9;
}


.clock-icon{
    position: relative;
    top: 5px;
    color: #fff;

}

.icon .phone-icon {
    padding-right: 2px;
	color: #fff;
	font-size: 15px;
    position: relative;
    top: 2px;
    transition: .6s;
}
.icon .phone-icon:hover{
    color: #0fe7f9;
}

.icon .phone{
    font-size: 15px;
    color: #fff;
    transition: .6s;
}
.icon .phone:hover{
     
    color: #0fe7f9;
}
.icon .email{
    font-size: 15px;
    color: #fff;  
    transition: .6s; 
}
.icon .email:hover{
    
    color: #0fe7f9;   
}
.icon .clock{
    font-size: 15px;
    color: #fff;
    transition: .6s;
}
.icon .clock:hover{
    
    color: #0fe7f9;
}
.icon .clock-icon{
    font-size: 15px;
    position: relative;
    top: 3px;
    padding-right: 2px;
    color: #fff;
    transition: .6s;
}
.icon .clock-icon:hover{
    color: #0fe7f9;
}
.nav-header-icon {
	font-size: 20px;
	position: relative;
	right: 20px;
}
.nav-header-search {
	font-size: 20px;
}



.nav-icon {
	position: absolute;
	top: 24px;
	right: 41px;
}



/* Nav Header */

.nav-image {
	width: 40%;
	margin: auto;
}



 
.headernav {
	padding-left: 0;
	margin-bottom: 0;
    list-style-type: none;
    z-index: 9999;
}
.headernav li {
	display: inline-block;
}

.headernav li a {
	display: block;
	padding: 10px;
	color: #000; 
    font-size: 16px;
    transition: .6s;
    font-weight: 600;
}
.headernav li:hover>a {
   color: aqua;
   
}
.headernav li a i {
	position: relative;
	top: 4px;
    left: 4px;
}

.nav-header-s {
	font-size: 20px;
	margin-left: 25px;
}

.nav-header-ber {
	font-size: 20px;
	margin-left: 200px;
}



/* Dropdown strat */

.headernav li {
    position: relative;
}
.headernav li ul {
    position: absolute;
    top: 133%;
    left: 0;
    width: 200px;
    padding-left: 0;
    background: #fff;
    color: #000;
    padding: 10px;
    margin-bottom: 0;
  
}
.headernav li ul li{
    display: block;
}
.headernav li ul li a{
    display: block;
}
 

/* Hover part */
.headernav li ul {
	visibility: hidden;
	opacity: 0;
	transition: .7s;
	box-shadow: 1px 3px 20px 0px black;
    transform: translateY(5px);
     
}
 
.headernav li:hover>ul{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
     
     
}
.headernav li ul li ul{
    position: absolute;
    width: 200px;
    left: -211px;
    top: 0;
}

.headernav li ul li:hover>a{
    letter-spacing: 2px;
}
 

/* Banner Section */

.banner-section{
   position: relative;
   top: 0px;
   z-index: -1;

     
}
.banner-section{
    background:url(./image/29.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
     
}
 .banner-section::before{
 
     content: "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: rgba(29, 25, 25,.7);
} 

.image .top {
	width: 55%;
	margin: auto;
	font-size: 60px;
	color: #fff;
	position: relative;
	top: 80px;
    text-align: center;
}
 
.image p {
	width: 65%;
	margin: auto;
	font-size: 20px;
	color: #fff;
	position: relative;
	top: 100px;
    text-align: center;
}
.image .default-button {
    display: block;
	width: 20%;
	margin: auto;
	font-size: 25px;
	color: #fff;
	background: #2554ff;
    text-decoration: none;
    position: relative;
	top: 130px;
    padding: 15px 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    
}
.image .default-button::before {
    content: "";
	display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #222;
    border-radius: 10px;
    transition: all .8s ease;
    z-index: -1;

}
.image .default-button:hover:before{
    width: 100%;
}

.arrow-start{
    font-size: 30px;
    color: #2554ff;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    display: block;
    transition: .7s;
    margin-top: 110px;
}
.arrow-start:hover{
  background: #222;
}
.arrow-end{
    font-size: 30px;
    color: #2554ff;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    display: block;
    transition: .7s;
    margin-top: 110px;
}
.arrow-end:hover{
   background: #222;
}

/* Shape Css */

.custom-shape-divider-bottom-1625633769 {
    position: absolute;
    bottom: -138px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1625633769 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1625633769 .shape-fill {
    fill: #fff;
}

/* Pricing Section */
.pricing-section{
   position: relative;

}


 
.pricing-section .p-table{
    background: #f6f2fe;
    padding: 10px;
    transform: translateY(0px);
    transition: all .7s;
       
}

.pricing-section .p-table:hover{
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0px 2px 10px 0px  #ddd;
    
}


.pricing-section .p-icon{
    padding-top: 20px;
    
}
.pricing-section .p-icon span {
	font-size: 45px;
	color: #0fe7f9;
	display: block;
	text-align: center;
    height: 90px;
    width: 90px;
    line-height: 90px;
    background: #fff;
    border-radius: 50%;
    border: 1px dashed #0fe7f9;
    margin: auto;
    position: relative;
 
}
.pricing-section .p-icon span::before {
 content: "";
 display: block;
 position: absolute;
 top: 14px;
 right: 0;
 height: 15px;
 width: 15px;
 border-radius: 50%;
 background: #0fe7f9;

}

.pricing-section h3 {
	color: #111;
	font-size: 25px;
	text-align: center;
    margin-top: 15px;
    transition: all .7s;
}
.pricing-section h3:hover{
    color: #2554ff;
    cursor: pointer;
}
.pricing-section p {
	font-size: 15px;
	text-align: center;
	color: #111;
}

.upper{
    position: relative;
    top: -80px;
    left: 0;
}
.extra{
    position: relative;
    top: -100px;
    left: 0;
}

/* About SEction */

.about-section{
    background:#f9fbfc;
    padding: 110px 0;
}

.about-us {
	color: #2554ff;
	font-size: 18px;
	margin-right: 55px;
	margin-bottom: 15px;
}
.about-image{
    position: relative;
}
.fast-image {
	max-width: 100%;
	height: auto;
	position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-top: 10px solid #0fe7f9;
    border-bottom: 10px solid #0fe7f9;
    border-right: 10px solid #0fe7f9;
}
.second-image {
	position: absolute;
    bottom: -60px;
    right: -15px;
    border-radius: 10px;
}
.about-text{
    padding-left: 10px;
}
.about-text h1 {
	font-weight: 700;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;

}
.about-text p {
	color: #444;
	font-size: 17px;
	line-height: 25px;
}
.about-text .about-line li {
	list-style-type: none;
	font-size: 19px;
	color: #111;
	font-weight: 500;
	line-height: 40px;
    position:relative;
    transition: .7s;
}
.about-text .about-line li:hover {
    color:#2554ff;
 
}

.about-text .about-line li:hover .about-text .about-line li span {
    color:#2554ff;
 
}
.about-text .about-line li span {
    margin-right: 10px;
    transition: .7s;
    	    
}
.about-text .about-line li span:hover{
    color: #2554ff;
    	    
}

.button{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff !important;
    padding: 15px 30px;
    background: #2554ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    
}
.button::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
    width: 0;
    background: #333;
    transition: all .5s ease-in-out;
    z-index: -1;
    border-radius: 5px;

}
.button:hover::before{
    width: 100%;

}
/* Servics Section */


.servics-section .s-previous{
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1;
}
.servics-section .s-next{
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 1;
}

.servics-section{
    background: #efe9fb;
    padding: 80px 0;
    position: relative;
}
.servics h6{
    color: #2554ff;
}
.servics h2{
    font-weight: 700;
    font-size: 40px;
}

.s-table {
    margin-top: 20px;
}
.s-icon{
    width: 25%;
    text-align: center;
    transition: .6s;
    margin-top: 18px;
    
}
 
.s-icon span {
	background: #ddd;
	height: 60px;
	width: 60px;
	display: inline-block;
	font-size: 25px;
	text-align: center;
	line-height: 65px;
	color: #2554ff;
	border-radius: 50%;
    margin: auto;
    transition: .6s;
   
}

.s-text {
    width: 75%;
}
.s-text h1 a{
    text-decoration: none;
    color: #111;
    font-weight: 700;
    font-size: 20px;
    transition: all 1s;
}
 
.s-text p{
    color: #333;
    font-size: 16px;
    line-height: 35px;
    transition: all .5s ease-in-out;
    
}
 
.s-text .read-more{
    text-decoration: none;
    color: #111;
    font-weight: 600;
    z-index: 1;
    transition: all .5s ease-in-out;
}
.s-table{
    padding: 20px 10px 20px 20px;
    background: #fff;
   
}
.s-table {
    position: relative;
    z-index: 1;
}
.s-table::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #2554ff;
    transition: all .5s ease-in-out;
    z-index: -1;

}


.s-table:hover::before{
    width: 100%;
    color: #fff;
     
}
.s-table:hover .s-text h1 a{
    color: #fff !important;
}
.s-table:hover .s-text p {
    color: #fff !important;
}
.s-table:hover .s-text .read-more{
    color: #fff !important;
}
.s-table:hover .s-icon {
     transform: rotate(360deg);
      
}
.s-table:hover .s-icon span {
    background: #fff;
      
}


/* Photo Section */

.photo-section{
    background: #fff;
    padding: 40px 0;
}
.photo-item{
    padding: 10px;
    transition: .6s;
}

.p-text{
    padding: 15px;
    background: #f6f6f6;
    position: relative;
    z-index: 1;
}
.p-text::before{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0;
   background: #2554ff;
   transition: .6s;
   z-index: -1;
}
.p-text:hover::before{
  width: 100%;
  
}
.photo-item:hover .p-text::before{
    width: 100%;
}
.photo-item:hover .p-text h1{
    color: #fff;
}
.photo-item:hover .p-text h6{
    color: #fff;
}

.p-text h1 {
	font-size: 21px;
	font-weight: 600;
    transition: .6s;
	  
}
.p-text h6 {
	color: #111;
	font-weight: 600;
    transition: .6s;
}
.p-text .p-icon {
	position: absolute;
	top: -20px;
	right: 10px;
	font-size: 20px;
	background: #0fe7f9;
	height: 30px;
	width: 40px;
	text-align: center;
	line-height: 36px;
	border-radius: 5px;
	color: #fff;
    transition: .6s;
}
.p-text .p-icon:hover {
    background: #fff;
    color: #0fe7f9;
    cursor: pointer;
 
}

.arrow-icon-prev {
	position: absolute;
	top: -80px;
	left: -20px;
	font-size: 25px;
	background: #fff;
    color: #111;
	width: 40px;
	height: 40px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
    transition: .6s;
}
.arrow-icon-prev:hover {
    background: #111;
    color: #0fe7f9;
}
.arrow-icon-next {
	position: absolute;
	top: -80px;
	right: -20px;
	font-size: 25px;
	background: #fff;
    color: #111;
	width: 40px;
	height: 40px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
    transition: .6s;
}
.arrow-icon-next:hover {
    background: #111;
    color: #0fe7f9;
}

/* Why Choich SEction */

.why-choich-section{
    padding: 80px 0;
    margin-top: 30px;
}

.why-choich-section{
    background: url(./image/42.jpg) no-repeat top center;
    background-size: cover;
   
}
 
 
.why-text h6{
    color: #2554ff;
}
.why-text h1 {
	font-size: 35px;
	font-weight: 700;
	margin-top: 15px;
}
.why-text p{

    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.why-ul .why-li h3 {
	font-size: 25px;
	font-weight: 600;
	margin-top: 10px;
    transition: .6s;
}
.why-ul .why-li p{
    
    color: #6b6b84;
    transition: .6s;
    margin-left: 45px;
}

.why-icon i {
	display: inline-block;
	height: 35px;
	width: 35px;
	line-height: 43px;
	border: 1px solid #0fe7f9;
	border-radius: 50px;
	text-align: center;
	font-size: 20px;
	color: #0fe7f9;
	transition: .5s;
	margin-top: 7px;
    margin-right: 10px;
}

.why-icon i:hover{
    border:1px solid #2554ff;
    color:#fff;
    background-color:#2554ff
     
}


.why-image {
	margin-top: 120px;
	padding: 10px;
}
 

.why-ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}
.why-ul .why-li{
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}
.why-ul .why-li:hover .why-icon i{
    border:1px solid #2554ff;
    color:#fff;
    background-color:#2554ff

}


/* social- SEction */
 
.social-image img{
    border-radius: 50%;
    border: 6px solid #0fe7f9;
}
.social-image{
    position: relative;
     

}
 
.social-image ul{
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    position: absolute;
    bottom: 35px;
    right: 0;
    left: 0;
    margin: auto;
    transition: .7s;

  
 
}


.social-image ul li {
	display: inline-block;
	font-size: 15px;
	height: 35px;
	width: 35px;
	background: #0fe7f9;
	color: #fff;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
    transform: translateY(60px);
    transition: all .6s ease-in-out;
    opacity: 0;
    visibility: hidden;
    
     
}
 
.social-item:hover .social-image ul li{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    
}
.social-item .social-image ul li:nth-child(1){
    transition-delay: .2s;
}
.social-item .social-image ul li:nth-child(2){
    transition-delay: .4s;
}
.social-item .social-image ul li:nth-child(3){
    transition-delay: .6s;
}
.social-item .social-image ul li:nth-child(4){
    transition-delay: .8s;
}

.social-text:hover .social-image ul li{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.social-text h2 {
	font-size: 25px;
	font-weight: 700;
	margin-top: 20px;
}
.social-text h6 {
	color: #2554ff;
	font-weight: 600;
	margin-top: 5px;
}

/* testing section */

.testing-section {
    padding: 100px 0;
}

.testing-section{
    background: url(./image/50.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    position: relative;
    
} 
.testing-section::before{
    
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
    z-index: -1;
} 


.testing-left h1 {
	font-weight: 700;
	margin-bottom: 20px;
	color: #fff;
    margin-top: 20px;
}
.testing-left p {
	font-size: 18px;
	color: #fff;
	margin-bottom: 25px;
    line-height: 35px;
}


.progressber {
	margin-top: 15px;
	margin-bottom: 30px;
}

.whyber{

background-color: #fff;
border-radius: 5px;
height: 8px;
}

.text-left{
    float: left;
    width: 30%;
    color: #fff;
    font-weight: 700;
}

.percent-right{
    float: right;
    width:70%;
    color: #fff;
    font-weight: 700;
}
.percent-right.seventyeight {
	position: relative;
	left: 250px;
}

.percent-right.eightyeight {
	position: relative;
	left: 305px;
}

.percent-right.fiftyeight {
	position: relative;
	left: 145px;
}


.testing-right {
    padding: 33px 20px;
    border-radius: 10px;
}

.testing-right h1 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 25px;
}


.input-example {
	width: 100%;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	outline: 0;
	border: 0;
}
.select-example {
	width: 100%;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	outline: 0;
	border: 0;
}

  
.input-left{
    position: relative;
}
.text-icon {
	position: absolute;
	top: 30px;
	right: 25px;
	font-size: 12px;
	color: #0ff;
}

.number-icon{

        position: absolute;
        top: 105px;
        right: 25px;
        font-size: 12px;
        color: #0ff;
}

.input-right{
    position: relative;
}

.email-icon{
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 12px;
    color: #0ff;
}
.date-icon{
    position: absolute;
    top: 175px;
    right: 25px;
    font-size: 12px;
    color: #0ff;
}

.short{
    
    width: 30%;
    margin: 20px auto;
}

/* letter-section */

.letter-section{
    padding: 100px 60px;

}


.bg-image{
    
   z-index: 1;
   padding: 50px 70px;
   border-radius: 30px;
   position: relative;
   background: #0fe7f9;
   position: relative;

}


.letter-image-left{

    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;

}

.letter-image-right{
    position: absolute;
    top: 20px;
    right: 0;
    z-index: -1;
}


.letter-item h1 {
	font-size: 45px;
	font-weight: 800;
	color:#fff;
}
.letter-item h2 {
        font-size: 20px;
        font-weight: 600;
}


/* Testimonial section */

.testimonial-sections{
    
    position: relative;
    z-index: 1;
  

}

.testimonial-sections{
    background: url(./image/31.jpg) no-repeat top center;
    background-size: 100%;
    
}

.testimonial-sections::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: .5;
    z-index: -1;
    
}


.testimonial-items{
  
    background: #fff;
    position: relative;
    margin: 50px auto;
    width: 85%;

}

.testimonial-images img{
    width: 100px;
    height: auto;
    margin: auto;
    border-radius: 50%;
   
    top: -40px;
    left: 0;
    right: 0;
}
.testimonial-texts h3 {
	font-size: 25px;
	font-weight: 700;
}
.testimonial-texts h5 {
	font-size: 15px;
	font-weight: 500;
}
.testimonial-texts p {
    text-align: justify;
    font-size: 16px;
    color: #333;
    font-style: italic;
    padding: 0 25px;
 
     
}
.testimonial-images {
	position: relative;
	top: -50px;
}

.testimonial-icon-left {
	font-size: 25px;
	height: 45px;
	width: 45px;
	line-height:55px;
	text-align: center;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	color: #2554ff;
	position: absolute;
	top: 110px;
	left: -60px;
    transition: .5s;
    transform: translateX(0px);

}
.testimonial-icon-left:hover{
   
    transform: scale(1.2);
    background: #000;
    color: #fff;
    transform: translateX(5px);
}
 

.testimonial-icon-right {
	font-size: 25px;
	height: 45px;
	width: 45px;
	line-height: 55px;
	text-align: center;
	background:#fff;
	display: inline-block;
	border-radius: 50%;
	color: #2554ff;
	position: absolute;
	top: 110px;
	right: -60px;
    transform: translateX(0px);
    transition: .7s;
}
.testimonial-icon-right:hover {
    transform: translateX(5px);
    background: #000;
    color: #fff;
	

}
.testimonial-circle-one{
    height: 25px;
    width: 25px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #2554ff;
    transition: .1s;
    position: relative;
    left: -10px;

}
.testimonial-circle-one:hover{
  
    border: 2px solid #ddd;
    background: #2554ff;
    
}
.testimonial-circle-two{
    height: 25px;
    width: 25px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #2554ff;
    transition: .1s;

}
.testimonial-circle-two:hover{
  
    border: 2px solid #ddd;
    background: #2554ff;
    
}
.testimonial-circle-three{
    height: 25px;
    width: 25px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #2554ff;
    transition: .1s;
    position: relative;
    left: 10px;

}
.testimonial-circle-three:hover{
  
    border: 2px solid #ddd;
    background: #2554ff;
    
}

/* News Letter Section */


.product-section{
    padding: 70px 0;
    background: #fafaff;
}

.news-item:hover .image h3 {
    background: #2554ff;
	color: #fff;
}
.image{
    position: relative;

}
.image h3 {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	font-size: 18px;
	padding: 10px 20px;
	color: #2554ff;
    transition: .7s;
}
.image h3:hover {
	background: #2554ff;
	color: #fff;
}
.image h1 {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 10px;
    padding: 0 15px;
}
.image h6{
    padding: 0 15px;
    color: #2554ff;
    font-weight: 800;
}
.image h6 a{
 text-decoration: none;
 color: #2554ff;
}
 
.product-item{
    width: 100%;
    margin: auto;
}
.product-link{
    text-decoration: none;
}

/* Footertop SEction */

.footertop-section{
    background: url(./image/44.jpg) no-repeat top center;
    background-size: cover;
}
.footertop-section{
     padding: 80px 0;
}

.footertop-item h3 {
	font-size: 25px;
	font-weight: 700;
    position: relative;
}
.footertop-item h3::after {
     content: "";
     display: block;
     position: absolute;
     bottom: -10px;
     left: 0;
     width: 20%;
     height: 2px;
     background: #000;
     

}


.footertopimage {
	width: 35%;
	max-height: 50%;
	margin-bottom: 20px;
}
.footertopimage a{
	 text-decoration: none; 
}

.footertop-icon {
	padding-left: 0;
	margin-bottom: 0;
    text-align: left;
    margin-top: 27px;
}

.footertop-icon li {
	display: inline-block;
    
}


.footer-icon-one {
    display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: #000;
    margin: 0 5px;
    background: #3b5998;
    transition: .6s;
    text-decoration: none;
    color: #fff;
    border: 1px solid #3b5998;
    
}
.footer-icon-one:hover {
 

    border: 1px solid #3b5998;
    color: #000;
    background: #fff;
}
 

.footer-icon-two{
    display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
    margin: 0 5px;
    background: #1da1f2;
    text-decoration: none;
    border: 1px solid #1da1f2;
    transition: .6s;

    
}
.footer-icon-two:hover{
  color: #000;
  background: #fff;
  border: 1px solid #1da1f2;
    
}

.footer-icon-three{
    display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
    margin: 0 5px;
    background: #c13584;
    text-decoration: none;
    border: 1px solid #c13584;
    transition: .6s;
    
}
.footer-icon-three:hover{
  border: 1px solid #c13584;
  background: #fff;
  color: #000;
    
}

.footer-icon-four{
    display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
    margin: 0 5px;
    background: #007bb5;
    transition: .6s;
    text-decoration: none;
    border: 1px solid #007bb5;
    
}

.footer-icon-four:hover{
 border: 1px solid #007bb5;
 background: #fff;
 color: #000;
    
}

 
.footertitle p{
	line-height: 26px;
	color: #333;
	font-size: 16px;
	margin-bottom: 20px;
}

/* 2nd part */


.footertop-ul {
	list-style-type: none;
	margin-top: 35px;
	padding-left: 0;
	margin-bottom: 0;
}
.footertop-ul .footer-li{
    display: block;
    list-style-type: none;
    margin-top: 8px;
    position: relative;
}
.footertop-ul .footer-li a {

	font-size: 15px;
	color: #000;
	font-weight: 600;
    position: relative;
    z-index: 1;
    transition: .6s;

}
.footertop-ul .footer-li a:hover {

	 color: #2554ff;

}

.footertop-ul .footer-li span {
	font-size: 12px;
	margin-right: 7px;
}
 

.footertop-ul .footer-li a::after{
    content: "";
    height: 0%;
    width: 0%;
    position: absolute;
    bottom: -7px;
    left: 0;
    z-index: -1;
    background: #f0f8ff;
    transition: .9s;
    border-bottom: 2px solid #2554ff;
    

}


.footertop-ul .footer-li a:hover::after{
     width: 100%;
     
     
}

/* part four */
.part-four-ul {
	padding-left: 0;
	list-style: none;
    margin-top: 27px;
}
.part-four-ul li {
 
	margin-top: 8px;
}
.part-four-ul li i {
	font-size: 15px;
	color: #000;
	margin-right: 5px;
}
.part-four-ul li a:hover{
 
	 color: #2554ff;
    
}
.part-four-ul li a {
 
	color: #000;
    z-index: 1;
    position: relative;
    
}
.part-four-ul li a::after {

    content: "";
    height: 0%;
    width: 0%;
    position: absolute;
    bottom: -7px;
    left: 0;
    z-index: -1;
    background: #f0f8ff;
    transition: .9s;
    border-bottom: 2px solid #2554ff;
}
.part-four-ul li a:hover::after {
    width: 100%;
}

.bold{
    font-weight: 700;
}


.part-four-icon-one{
	font-size: 17px;
	color: #000;
	position: relative;
	top: 32px;
	left: 10px;
}
.part-four-icon-two{
	font-size: 17px;
	color: #000;
	position: relative;
	top: 68px;
	left: 10px;
}
.part-four-icon-three{
	font-size: 17px;
	color: #000;
	position: relative;
	top: 108px;
	left: 10px;
}

/* footer-bottom */
.footer-bottom{
    background: #012b6b;
    position: relative;
}
.footerbottom{
     position: relative;
     top: 10px;
}
.footerbottom a{
      transition: .7s;
      color: #fff;
}
.footerbottom a:hover{
      color:#2554ff;
}


.up-icon {
	position: absolute;
	top: -20px;
	right: -65px;
	font-size: 20px;
	height: 45px;
	width: 45px;
	line-height: 50px;
	text-align: center;
	background: #000;
	border-radius: 50%;
    transform: translateY(0px);
    transition: .6s;
}
.up-icon:hover {
 
    transform: translateY(5px);
}